# Source files
src/
examples/

# Config files
.github/
.gitignore
tsconfig.json

# Development files
*.log
.DS_Store
node_modules/
.env
.env.*

# Editor files
.vscode/
.idea/

# Only publish built files
!dist/